@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #333;
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    transition: all 3.5s ease;
}

.square {
    position: absolute;
    bottom: -300px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #FF4E88;
    border-radius: 1px;
    z-index: -1;
    animation: moveAndTransform 10s linear infinite;
}

@keyframes moveAndTransform {
    0% {
        bottom: -300px;
        transform: translateX(-50%) rotate(0deg);
        width: 30px;
        height: 30px;
        border-color: #FF4E88;
        border-radius: 1px;
    }

    50% {
        border-radius: 10px;
    }

    75% {
        border-color: #FFB22C;
    }

    100% {
        bottom: 100%;
        transform: translateX(-50%) rotate(360deg);
        width: 200px;
        height: 200px;
        border-color: #134B70;
        border-radius: 100%;
        opacity: 0;
    }
}

/* Specific styles for each square */
.square1 {
    left: 10%;
    animation-delay: 5s;
}

.square2 {
    left: 30%;
    animation-delay: 7s;
}

.square3 {
    left: 50%;
    animation-delay: 1s;
}

.square4 {
    left: 70%;
    animation-delay: 10s;
}

.square5 {
    left: 90%;
    animation-delay: 4s;
}

/* Main Styles  */
.color-picker {
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 5px solid #FF4E88;
    transition: all 2s ease;
}

#colorCheck {
    width: 100%;
    height: 30px;
    text-align: center;
    color: #fff;
}

.color-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.color-group p {
    display: inline-block;
    background: #fff;
    color: #222;
    padding: 8px 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.color-group input {
    outline: none;
    border: none;
    background: #fff;
    color: #222;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

i {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #FF4E88;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: all 2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .color-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .color-picker {
        gap: 20px;
    }
    .color-info {
        gap: 20px;
    }
    .color-group p {
        padding: 10px 5px;
        font-size: 14px;
    }
    .color-group input {
        width: 160px;
    }
    button {
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
    }
}
